sudo: required

language: php

services:
    - docker

env:
    global:
        - COMMIT=${TRAVIS_COMMIT::8}
        - DOCKER_REPOSITORY_TEST=kaz231/bg-deploy-tracker-test
        - DOCKER_REPOSITORY=kaz231/bg-deploy-tracker

before_install:
    - docker build -f Dockerfile.test -t $DOCKER_REPOSITORY_TEST .
    - docker run -d -v $(pwd):/app $DOCKER_REPOSITORY_TEST
    - export CONTAINER_ID=$(docker ps -lq)

install:
    - docker exec $CONTAINER_ID /bin/sh -c "composer install"

script:
    - docker exec $CONTAINER_ID /bin/sh -c "vendor/bin/phing static-analysis"
    - docker exec $CONTAINER_ID /bin/sh -c "vendor/bin/phing unit-test"
    - docker exec $CONTAINER_ID /bin/sh -c "vendor/bin/phing setup-database-test integration-test"
    - docker exec $CONTAINER_ID /bin/sh -c "vendor/bin/phing setup-database-test behat"

after_success:
    - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker run $DOCKER_REPOSITORY_TEST /bin/sh -c "build.sh"
      docker build -f Dockerfile.prod -t kaz231/bg-deploy-tracker:$COMMIT .
      docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
      docker tag $REPO:$COMMIT $REPO:latest
      docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
      docker push kaz231/bg-deploy-tracker
      fi